*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-size: var(--text-body);
  font-weight: var(--fw-400);
  font-family: var(--font-main);
  color: var(--grey-300);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: var(--sp-150);
}

.title {
  font-size: var(--text-title);
  font-weight: var(--fw-600);
  line-height: 120%;
  color: var(--grey-700);
}

.subtitle {
  font-size: var(--text-subtitle);
  font-weight: var(--fw-600);
  line-height: 120%;
  color: var(--grey-700);
  text-wrap: pretty;
}

.item-title {
  font-size: var(--text-item);
  font-weight: var(--fw-600);
  line-height: 120%;
  color: var(--grey-700);
}

.btn {
  width: 95%;
  text-decoration: none;
  font-weight: var(--fw-600);
  color: white;
  border-radius: 40px;
  padding: var(--sp-75) var(--sp-400);
}

.btn--ios {
  margin-top: var(--sp-250);
  background-color: var(--green-400);
  box-shadow: 0 3px hsl(171, 74%, 36%), 0 12px 15px hsla(171, 100%, 57%, 0.2);
}

.btn--mac {
  margin-top: var(--sp-150);
  background-color: var(--blue-300);
  box-shadow: 0 3px hsl(233, 45%, 55%), 0 12px 15px hsla(233, 56%, 47%, 0.2);
}

.hero {
  min-height: 100vh;
  position: relative;
}

.bg-img {
  position: absolute;
  width: 100%;
}

.logo--header {
  width: 7rem;
  height: 7rem;
  margin-top: var(--sp-700);
  margin-bottom: var(--sp-350);
}

.download p {
  margin-top: var(--sp-100);
}

.snippets p {
  margin-top: var(--sp-75);
  margin-bottom: var(--sp-400);
}

.snippets img {
  margin-bottom: var(--sp-350);
}

.feature {
  margin-inline: var(--sp-75);
}

.access {
  margin-top: var(--sp-600);
  margin-bottom: var(--sp-300);
}

.access .subtitle {
  padding-bottom: var(--sp-100);
}

.access img {
  margin-block: var(--sp-400);
}

.supercharge .subtitle {
  padding-block: var(--sp-100);
}

.supercharge img {
  margin: 0 auto;
  padding-block: var(--sp-300);
}

.tool h3 {
  padding-bottom: var(--sp-100);
}

.partners {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: var(--sp-300);
  margin: 0 auto;
  padding-block: var(--sp-900);
}

.cta {
  margin-bottom: var(--sp-900);
}

footer {
  background-color: hsl(201, 11%, 66%, 0.1);
}
