*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-size: var(--text-body);
  font-weight: var(--fw-400);
  font-family: var(--font-main);
  color: var(--grey-300);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: var(--sp-150);
}

.title {
  font-size: var(--text-title);
  font-weight: var(--fw-600);
  line-height: 120%;
  color: var(--grey-700);
}

.subtitle {
  font-size: var(--text-subtitle);
  font-weight: var(--fw-600);
  line-height: 120%;
  color: var(--grey-700);
}

.item-title {
  font-size: var(--text-item);
  font-weight: var(--fw-600);
  line-height: 120%;
  color: var(--grey-700);
}

.hero {
  min-height: 100vh;
  position: relative;
}

.bg-img {
  position: absolute;
  width: 100%;
}

.logo-header {
  width: 7rem;
  height: 7rem;
  margin-top: var(--sp-700);
  margin-bottom: var(--sp-350);
}
