*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-size: var(--text-body);
  font-weight: var(--fw-400);
  font-family: var(--font-main);
  color: var(--grey-300);
}

.wrapper {
  width: 100%;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: var(--sp-150);
  margin-inline: auto;
}

.title {
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: var(--fw-600);
  line-height: 120%;
  color: var(--grey-700);
  padding-block: var(--sp-100);
}

.subtitle {
  font-size: clamp(1.75rem, 2.25vw, 3rem);
  font-weight: var(--fw-600);
  line-height: 120%;
  color: var(--grey-700);
  text-wrap: pretty;
  padding-block: var(--sp-100);
}

.item-title {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: var(--fw-600);
  line-height: 120%;
  color: var(--grey-700);
  padding-block: var(--sp-50);
}

.btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--sp-75);
  align-items: center;
}

.btn {
  text-decoration: none;
  font-weight: var(--fw-600);
  color: white;
  border-radius: 40px;
  padding-block: var(--sp-75);
  padding-inline: clamp(2rem, calc(6rem - 4vw), 6rem);
}

.btn--ios {
  margin-top: var(--sp-250);
  background-color: var(--green-400);
  box-shadow:
    0 3px hsl(171, 74%, 36%),
    0 12px 15px hsla(171, 100%, 57%, 0.2);
}

.btn--mac {
  margin-top: var(--sp-150);
  background-color: var(--blue-300);
  box-shadow:
    0 3px hsl(233, 45%, 55%),
    0 12px 15px hsla(233, 56%, 47%, 0.2);
}

@media (min-width: 40rem) {
  .btns {
    flex-direction: row;
    justify-content: center;
  }

  .btn--ios,
  .btn--mac {
    margin-top: var(--sp-250);
  }
}

.hero {
  min-height: 100vh;
  position: relative;
}

@media (min-width: 40rem) {
  .hero {
    min-height: 100%;
    margin-bottom: var(--sp-800);
  }
}

.bg-img {
  position: absolute;
  width: 100%;
}

.bg-img--desktop {
  display: none;
}

@media (min-width: 50rem) {
  .bg-img {
    display: none;
  }

  .bg-img--desktop {
    display: block;
    position: absolute;
    width: 100%;
  }
}

.logo--header {
  width: 7rem;
  height: 7rem;
  margin-top: var(--sp-700);
  margin-bottom: var(--sp-350);
}

@media (min-width: 40rem) {
  .logo--header {
    margin-bottom: var(--sp-250);
  }
}

.wrapper--snippets {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  padding-inline: clamp(var(--sp-150), 2vw, var(--sp-300));
  justify-items: center;
}

.wrapper--snippets > * {
  grid-column: 2;
}

@media (min-width: 80rem) {
  .feature-section {
    grid-column: span 3;
    display: flex;
    align-items: center;
    gap: var(--sp-700);
    transform: translateX(-12vw);
  }
}

.snippets-info {
  text-align: center;
  margin-bottom: var(--sp-200);
}

.snippets p {
  margin-bottom: var(--sp-200);
}

.snippets img {
  margin-bottom: var(--sp-350);
}

.features {
  text-align: center;
  max-width: 35ch;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--sp-150);
}

@media (min-width: 80rem) {
  .features {
    text-align: left;
  }
}

.feature {
  margin-inline: var(--sp-75);
}

.access {
  margin-top: var(--sp-600);
  margin-bottom: var(--sp-300);
}

.access img {
  margin-block: var(--sp-400);
}

.supercharge img {
  margin: 0 auto;
  padding-block: var(--sp-300);
}

.tool h3 {
  padding-bottom: var(--sp-100);
}

.partners {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: var(--sp-300);
  margin: 0 auto;
  padding-block: var(--sp-900);
}

.cta {
  margin-bottom: var(--sp-900);
}

footer {
  background-color: hsl(201, 11%, 66%, 0.1);
}

.logo--footer {
  width: 3rem;
  height: 3rem;
  margin-top: var(--sp-250);
}

.quick-links {
  flex-direction: column;
}

.quick-links,
.socials {
  display: flex;
  gap: var(--sp-100);
  margin-top: var(--sp-200);
}

.quick-links a {
  text-decoration: none;
  color: var(--grey-700);
}

.socials {
  gap: var(--sp-200);
  margin-bottom: var(--sp-300);
}
