:root {
  --green-400: hsl(171, 66%, 44%);
  --green-400-light: hsl(171, 66%, 44%, 0.75);
  --blue-300: hsl(233, 100%, 69%);
  --blue-300-light: hsl(233, 100%, 69%, 0.75);

  --grey-700: hsl(210, 10%, 33%);
  --grey-300: hsl(201, 11%, 66%);

  --font-main: "Bai Jamjuree", Arial, Helvetica, sans-serif;

  --fw-400: 400;
  --fw-600: 600;

  --sp-50: 0.5rem;
  --sp-75: 0.75rem;
  --sp-100: 1rem;
  --sp-150: 1.5rem;
  --sp-200: 2rem;
  --sp-250: 2.5rem;
  --sp-300: 3rem;
  --sp-350: 3.5rem;
  --sp-400: 4rem;
  --sp-500: 5rem;
  --sp-600: 6rem;
  --sp-700: 7rem;
  --sp-800: 8rem;
  --sp-900: 9rem;
}
